body {

    margin: 0;
    padding: 0;
}

body {
  background-image: url("https://tenor.com/ru/view/nyan-cat-rainbow-cat-kitten-kitty-gif-5716621.gif");
}

input {
  height: 41px;
  border: #535353 2px solid;
  margin: 0px 5px;
  border-radius: 10px;
  padding: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  height: 41px;
  width: 150px;
  background-color: #C03626;
  border: #7b251b 3px solid;
  border-radius: 10px;
  font-weight: bold;
  color: white;
}

span, h1, h2, h3, p {
  color: rgb(218, 206, 74);
  -webkit-text-stroke: #535353 2px ;
}